body {
background: url("../img/celebrate.gif") no-repeat center center fixed;
background-size: cover;
margin: 0;
color: white;
text-align: center;
}

img {
width: 50%;
display: block;
margin-left: auto;
margin-right: auto;
}


.main {
background-color#FFF
	max-width: 800px;
	margin-right: auto;
	margin-left: auto:
}